@using MvcBreadCrumbs
@model WebSinger.Models.SongViewModel

<div class="container body-content mybreadcrumb">
    @Html.Raw(BreadCrumb.Display())
</div>

<h3>
    @Model.Name
</h3>
<hr>
<script>
    $(document)
        .ready(function () {
            $.get('@Url.Action("AutocompleteSearch", "Home")',
                function (tokens) {
                    var songAccords = @Html.Raw(Json.Encode(Model.AccordStrings));

                    $('#tokenfield')
                        .val(songAccords)
                        .tokenfield({
                            autocomplete: {
                                source: tokens,
                                delay: 100
                            },
                            showAutocompleteOnFocus: false
                        }).on('tokenfield:createtoken', function (e) {

                            var existingTokens = $(this).tokenfield('getTokens');

                            var isContain = false;
                            $.each(existingTokens, function(index, token) {
                                if (token.value === e.attrs.value) {
                                    isContain = true;
                                }
                            });

                            var isExist = false;

                            $.each(tokens, function (index, token) {
                                if (token === e.attrs.value) {
                                    isExist = true;
                                }
                            });

                            if (isExist !== true || isContain === true)
                                e.preventDefault();
                            else {
                                songAccords.push(e.attrs.value);
                            }
                        });
                    
                });
        });
</script>

@using (Html.BeginForm("EditSong", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Name)

        @Html.TextAreaFor(m => m.Text, new {@class = "form-control", rows = 20, style = "width: 100%; resize: none;"})

        <input type="text" name="AccordStrings" class="form-control" id="tokenfield"/>
    </div>
    <input type="submit" class="btn btn-default" value="Submit Button">
}
