@model ModelSinger.Song

@{
    ViewBag.Title = Model.Name;
}

<h3>
    @Model.Name
</h3>
<hr>
@using (Html.BeginForm("EditSong", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(m => m.Name)
        @Html.HiddenFor(m => m.Id)

        <div class="col-lg-8">
            @Html.TextAreaFor(m => m.Text, new {@class = "form-control", rows = 20, style = "width: 100%; resize: none;"})
        </div>

        <div class="col-lg-4">
            @foreach (ModelSinger.Accord accord in Model.Accords)
            {
                if (accord.Image != null)
                {
                    <img src="data:image;base64,@System.Convert.ToBase64String(accord.Image)" alt="@accord.Name"/>
                }
                else
                {
                    <img alt="@accord.Name"/>
                }
            }

        </div>
    </div>
    <input type="submit" class="btn btn-default" value="Submit Button">
}
