@using ModelSinger
@using MvcBreadCrumbs
@using WebSinger.Helpers
@using WebSinger.Helpers
@model WebSinger.Models.IndexViewModel

<div class="container body-content mybreadcrumb">
    @Html.Raw(BreadCrumb.Display())
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Name
                <a class="hrefwithoutblue" href="@Url.Action("Index", Html.ToRouteValueDictionary(Model.SortName, Model.IsDesc, "Name"))">
                    @Html.SortIdentifier(Model.SortName, "Name", Model.IsDesc)
                </a>
            </th>
            <th>
                Count songs
                <a class="hrefwithoutblue" href="@Url.Action("Index", Html.ToRouteValueDictionary(Model.SortName, Model.IsDesc, "CountSong")) ">
                @Html.SortIdentifier(Model.SortName, "CountSong", Model.IsDesc)
                </a>
                
            </th>
            <th>
                Views
                <a class="hrefwithoutblue" href="@Url.Action("Index", Html.ToRouteValueDictionary(Model.SortName, Model.IsDesc, "Views"))">
                    @Html.SortIdentifier(Model.SortName, "Views", Model.IsDesc)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (ModelSinger.Singer singer in Model.Singers)
        {
            <tr>
                <td>@Html.ActionLink(singer.Name, "SingerInfo", new { id = singer.Id })</td>
                <td>@singer.CountSong</td>
                <td>@singer.Views</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <div class="btn-group">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x, isDesc = Model.IsDesc, name = Model.SortName }))
    </div>
</div>
